name: Convert and host data

on:
  push:
    branches: 'main'
  workflow_dispatch:
  
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - run: |
          deno task convert
          cp ./data/processed/nina*.json ./data/nina.json
          # Note: the following account information will not work on GHES
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Regenerate nina.json file"
          git push
      # - run: |
      #     date > generated.txt
      #     # Note: the following account information will not work on GHES
      #     git config user.name "github-actions[bot]"
      #     git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
      #     git add .
      #     git commit -m "generated"
      #     git push
      
